# Set the default behavior to normalize all text files to LF
* text eol=lf

# Explicitly declare text files you want to always be normalized to LF
*.js text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.gif binary